<html>

<head>
    <title>Demo Socket IO</title>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        // goi dien len server
        var socket = io("http://localhost:3000");

        // clien lang nghe tu server
        socket.on("Server-send-data", function(data) {
            $("#noidung").append(data + ", ");
        });

        $(document).ready(function() {
            $("#mrA").click(function() {
                // phat hello len server
                socket.emit("Client-send-data", "hello");
            });
        });
    </script>
</head>

<body>
    <div id="mrA">Click send</div>

    <h2 id="noidung"></h2>
</body>

</html>