<html>

<head>
    <title>Demo Socket IO</title>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        // goi dien len server
        var socket = io("http://localhost:3000");

        $(document).ready(function() {
            $("#mrA").click(function() {
                socket.emit("Client-send-data", "hello");
            });
        });
    </script>
</head>

<body>
    Hello world

    <div id="mrA">Click send</div>
</body>

</html>